{% load static %}
<!DOCTYPE html>
<html style="height: 695px; border-top: 8px solid #ea6645;">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <title>Прожито-данные</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/Bold-BS4-Footer-Simple.css' %}">
    <link rel="stylesheet" href="{% static 'css/Bold-BS4-Jumbotron-with-Particles-js-1.css' %}">
    <link rel="stylesheet" href="{% static 'css/Bold-BS4-Jumbotron-with-Particles-js.css' %}">

    <link rel="stylesheet" href="{% static 'css/Data-Table-1.css' %}">
    <link rel="stylesheet" href="{% static 'css/Data-Table.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">

    <link rel="stylesheet" href="{% static 'css/Navigation-with-Button.css' %}">
    <link rel="stylesheet" href="{% static 'css/Navigation-with-Search.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/css/bootstrap-slider.css">
    <link rel="shortcut icon" href="http://prozhito.org/media/img/favicon.png" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>


 <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/i18n/ru.js"></script>

    
</head>

<body>

<style>

    .dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}

</style>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-button" style="margin-bottom: 20px;">
                <div class="collapse navbar-collapse" id="navcol-1"">
                    <ul class="nav navbar-nav mr-auto" style="padding-left: 40px;>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'home' %}"><i style="border-bottom: 2px solid #ea6645;" class="fa fa-home"></i>&nbsp;</a></li>
                        <form action="" method="post">
                        {% csrf_token %}
                        <button type="submit" onclick="window.location.href='{% url 'table' 'diaries' %}'" class="btn btn-link input-group-btn" style="color: black;"><i class="fa fa-book"></i> Листать</button>


                            <input name="query" type="hidden" value=""/>
                            <input name="people" type="hidden" value=""/>
                            <input name="places" type="hidden" value=""/>
                            <input name="keywords" type="hidden" value=""/>
                        </form>




<!-- from https://codepen.io/airpwn/pen/pyxpaR -->
 <form action="" method="post" class="myForm">
      {% csrf_token %}
  <div class="input-group" id="adv-search">
                {% if state.query %}
                <input name="query" style="color: black;" type="text" class="form-control fa" placeholder="{{ state.query }}" />
                {% else %}
                <input name="query" style="color: black;" type="text" class="form-control fa" placeholder="&#xf002; Искать" />
                {% endif %}
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                        <div class="dropdown dropdown-lg">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <form class="form-horizontal" role="form">
                                  <div class="form-group">
                                  <label for="amount"></label><input type="text" id="amount" readonly style="border:0;">
                                    <div id="slider-range"></div>
                                  </div>

                                    <div class="form-group">
                                      <select style="width: 100%;" class="people-class form-control" name="people" >
                                      </select>
                                  </div>

                                    <div class="form-group">
                                      <select style="width: 100%;" class="place-class form-control" name="places"  value="">
                                      </select>
                                  </div>

                                    <div class="form-group">
                                      <select style="width: 100%;" class="keyword-class form-control" name="keywords"  value="">
                                      </select>
                                  </div>

                                    <input type="hidden" value="1581" name="start_year" />
                                    <input type="hidden" value="2018" name="end_year" />
                                  <button type="submit" class="btn btn-outline-primary btn-lg btn-block"><span class="fa fa-search" aria-hidden="true"></span></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

 </form>



    <script>

      $( function() {

    $( "#slider-range" ).slider({
      range: true,
      min: 1581,
      max: 2018,
          {% if state.start_year and state.end_year %}
      values: [ {{ state.start_year}}, {{state.end_year }} ],
          {% else %}
      values: [ 1581, 2018 ],
          {% endif %}
      slide: function( event, ui ) {
        $( "#amount" ).val( " от " + ui.values[ 0 ] + " до " + ui.values[ 1 ] + " года" );
        // window.alert( $("[name='start_year']").val() );
        $("[name='start_year']").val(ui.values[ 0 ]);
        $("[name='end_year']").val( ui.values[ 1 ] );
      }
    });
    $( "#amount" ).val( " от " + $( "#slider-range" ).slider( "values", 0 ) +
      " до " + $( "#slider-range" ).slider( "values", 1 ) + " года");

    $("[name='start_year']").val( ui.values[ 0 ] );

    $("[name='end_year']").val( ui.values[ 1 ] );

  } );
$('.dropdown').on('hide.bs.dropdown', function () {
   return false;
});


$('.people-class').select2({
  multiple: false,
  language: "ru",
  ajax: {
    url: '{% url 'person-autocomplete' %}',
    dataType: 'json',
    // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
  },
  placeholder: {
    id: '-1', // the value of the option
    text: 'Люди'
  }
});


/*
$('.people-class').on('select2:select', function (e) {
    var data = e.params.data;
    console.log(data.text);
    $('.people-class').val(data.text);
});
*/

$('.place-class').select2({
  multiple: false,
  language: "ru",
  ajax: {
    url: '{% url 'place-autocomplete' %}',
    dataType: 'json',
    // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
  },
  placeholder: {
    id: '-1', // the value of the option
    text: 'Места'
  }
});

$('.keyword-class').select2({
   multiple: false,
   language: "ru",
   ajax: {
    url: '{% url 'keyword-autocomplete' %}',
    dataType: 'json',
    
    // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
  },
  placeholder: {
    id: '-1', // the value of the option
    text: 'Ключевые слова'
  }
});

//This section customized the response in Russian
$.fn.select2.amd.define('select2/i18n/ru',[],function () {
    // Russian
    return {
        errorLoading: function () {
            return 'Результат не может быть загружен.';
        },
        inputTooLong: function (args) {
            var overChars = args.input.length - args.maximum;
            var message = 'Пожалуйста, удалите ' + overChars + ' символ';
            if (overChars >= 2 && overChars <= 4) {
                message += 'а';
            } else if (overChars >= 5) {
                message += 'ов';
            }
            return message;
        },
        inputTooShort: function (args) {
            var remainingChars = args.minimum - args.input.length;

            var message = 'Пожалуйста, введите ' + remainingChars + ' или более символов';

            return message;
        },
        loadingMore: function () {
            return 'Загружаем ещё ресурсы…';
        },
        maximumSelected: function (args) {
            var message = 'Вы можете выбрать ' + args.maximum + ' элемент';

            if (args.maximum  >= 2 && args.maximum <= 4) {
                message += 'а';
            } else if (args.maximum >= 5) {
                message += 'ов';
            }

            return message;
        },
        noResults: function () {
          return 'Ничего не найдено';
        },
        searching: function () {
          return 'Поиск…';
        }
    };
});
    </script>
                    </ul><span class="navbar-text actions" style="padding-right: 40px;"> <a class="btn btn-light action-button" style="background:  #ea6645;" role="button" href="{% url 'ExportPageView' %}">Скачать</a></span></div>
    </div>
    </nav>
 



{% block content %}{% endblock %}


  <footer id="myFooter" style="padding:0px;">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col footer-social" style="background-color: rgb(255,255,255);"><a class="social-icons" href="https://www.facebook.com/prozhito.org/"><i class="fa fa-facebook"></i></a><a class="social-icons" href="https://vk.com/club81096508"><i class="fa fa-vk"></i></a></div>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="{% static 'js/Bold-BS4-Jumbotron-with-Particles-js.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/bootstrap-slider.js"></script>
</body>

</html>
