{% extends "base.html" %}
{% load static %}
{% load leaflet_tags %}
{% load geojson_tags %}

  {% leaflet_js %}
  {% leaflet_css %}


{% block content %}
   

        <div class="container">

{% if request.get_full_path == '/browse/entries/' %}

            <div class="row">

                <div class="col"><table class="myTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
     <tr>
        <th> текст </th>
        <th> Дата </th>
         <th> автор </th>
          <th> key words </th>
          <th> sentiment </th>
     </tr>
  </thead>

    </table></div>
            </div>
        </div>
    </div>




 <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/bootstrap-slider.min.js"></script>

<script>
// Range Slider
      var slider = new Slider("#range", {
        min: 0,
        max: 100,
        value: [50, 80],
        range: true,
        tooltip: 'always'
      });

$(document).ready(function() {


    // DataTable
    var table = $('.myTable').DataTable({
        // ...
        "processing": true,
        "serverSide": true,
        "ajax": "{% url 'diaries_json' %}",
        "language": {
        "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Russian.json"
        },
        dom: 'Bfrtip',
        buttons: [
               'copy',
               'excel',
               'csv',
               'pdf',
               'print'
        ]
    } );

} );

</script>
{% endif %}

{% if request.get_full_path == '/browse/people/' %}


            <div class="row">

                <div class="col"><table class="myTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
     <tr>
          <th> имя </th>
        <th> отчество </th>
         <th> фамилия </th>
         <th> информация </th>
         <th> дата рождения </th>
     </tr>
  </thead>

    </table></div>
            </div>
        </div>
    </div>




 <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/bootstrap-slider.min.js"></script>

<script>
// Range Slider
      var slider = new Slider("#range", {
        min: 0,
        max: 100,
        value: [50, 80],
        range: true,
        tooltip: 'always'
      });

$(document).ready(function() {


    // DataTable
    var table = $('.myTable').DataTable({
        // ...
        "processing": true,
        "serverSide": true,
        "ajax": "{% url 'people_json' %}",
        "language": {
        "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Russian.json"
        },
        dom: 'Bfrtip',
        buttons: [
               'copy',
               'excel',
               'csv',
               'pdf',
               'print'
        ]
    } );

} );

</script>
{% endif %}

{% if request.get_full_path == '/browse/places/' %}

{% leaflet_map "spots" callback="window.map_init" %}
            <div class="row">

                <div class="col"><table class="myTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
     <tr>
          <th> место </th>
        <th> ссылка </th>
         <th> координаты </th>
     </tr>
  </thead>

    </table></div>
            </div>
        </div>
    </div>




 <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/bootstrap-slider.min.js"></script>

<script>
// Range Slider
      var slider = new Slider("#range", {
        min: 0,
        max: 100,
        value: [50, 80],
        range: true,
        tooltip: 'always'
      });

$(document).ready(function() {


    // DataTable
    var table = $('.myTable').DataTable({
        // ...
        "processing": true,
        "serverSide": true,
        "ajax": "{% url 'places_json' %}",
        "language": {
        "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Russian.json"
        },
        dom: 'Bfrtip',
        buttons: [
               'copy',
               'excel',
               'csv',
               'pdf',
               'print'
        ]
    } );

} );

</script>

<script>

    // ============
    // Esri-Leaflet
    // ============
    var map = L.map('map', {zoomControl: false}).setView([39.568767, -15.223166], 2),
      layer = L.esri.basemapLayer('NationalGeographic').addTo(map),
      // layerLabels = L.esri.basemapLayer('xxxLabels').addTo(map);
      layerLabels = null,
      worldTransportation = L.esri.basemapLayer('ImageryTransportation');
      //==========================
     //Things that Andy has added
     //==========================
     var data = {{ places|geojsonfeature:"popupContent"|safe }};
      L.geoJson(data, {
              onEachFeature: function onEachFeature(feature, layer) {
                var props = feature.properties.popupContent;
                var content = `<p>${props}</p>`;
                layer.bindPopup(content);
            }}).addTo(map);
    //Not Stuff Andy has added
    function setBasemap(basemap) {
      if (layer) {
        map.removeLayer(layer);
      }
      if (basemap === 'OpenStreetMap') {
        layer = L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png");
      }
      else {
        layer = L.esri.basemapLayer(basemap);
      }
      map.addLayer(layer);
      if (layerLabels) {
        map.removeLayer(layerLabels);
      }
      if (basemap === 'ShadedRelief' || basemap === 'Oceans' || basemap === 'Gray' || basemap === 'DarkGray' || basemap === 'Imagery' || basemap === 'Terrain') {
        layerLabels = L.esri.basemapLayer(basemap + 'Labels');
        map.addLayer(layerLabels);
      }

      // add world transportation service to Imagery basemap
      if (basemap === 'Imagery') {
        worldTransportation.addTo(map);
      } else if (map.hasLayer(worldTransportation)) {
        // remove world transportation if Imagery basemap is not selected
        map.removeLayer(worldTransportation);
      }
    }
    L.control.zoom({
      position:'topright'
    }).addTo(map);
    //var searchControl = L.esri.Geocoding.Controls.geosearch({expanded: true, collapseAfterResult: false, zoomToResult: false}).addTo(map);
    var searchControl = L.esri.Geocoding.geosearch({expanded: true, collapseAfterResult: false, zoomToResult: false}).addTo(map);

    searchControl.on('results', function(data){
      if (data.results.length > 0) {
        var popup = L.popup()
          .setLatLng(data.results[0].latlng)
          .setContent(data.results[0].text)
          .openOn(map);
        map.setView(data.results[0].latlng)
      }
    })

  </script>
{% endif %}

{% endblock %}
